# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / build
build/
dist/
*.egg-info/

# IDE/editor
.idea/
.vscode/

# OS
.DS_Store

# Results and plots
results/
